[submodule "ThirdParty/JUCE"]
	path = ThirdParty/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "ThirdParty/FRUT"]
	path = ThirdParty/FRUT
	url = https://github.com/McMartin/FRUT.git
